html, body {
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Section Header Zahia */

header {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 80px;
}

.menu {
    margin-top: 40px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

.menu a:hover {
    color:#0065fc;
    border-top:3px solid #0065fc;
    padding: 30px;
}

.info {
    font-size: 20px;
    margin-bottom: 10px;
}

.recherche {
    position: relative;
    width: 400px;
    height: 50px;
    border: 1px solid #dacbcb;
    border-radius: 10px;
    background-color: #dacbcb;
}

.location {
    font-size:20px;
    width: 8%;
    height: 35px;
    float: left;
    padding: 15px;
}

.fa-location-dot:before, .fa-map-marker-alt:before {
    color: black;
}

input[ type="search"] {
    font-weight: bold;
    width: 55%;
    height: 50px;;
    font-size: 15px;
    border: none;
}

.iconr {
    display: none;
}

button {
    position: absolute;
    width: 30%;
    height: 100%;
    font-size: 15px;
    color: white;
    border: none;
    float: right;
    background-color: #0065fc;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.filtres {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.filtres p {
    padding:5px;
    font-weight: bold;
}

.iconfiltre {
    display: flex;
    flex-direction: row;
}

.icon2 {
    display: flex;
    flex-direction: row;
}

.icon1 {
    display: flex;
    flex-direction: row;
}

.economique,.familial,.romantique {
    display: flex;
    align-items: center;
    width: 145px;
    height: 38px;
    border-radius: 30px;
    margin-left: 20px;
    border: 2px solid #dacbcb;
}

.animaux {
    display: flex;
    align-items: center;
    width: 200px;
    height: 38px;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px solid #dacbcb;
}

.economique a,.familial a,.romantique a {
    display: flex;
    width: 42px;
    height:42px;
    text-decoration: none; 
    border-radius: 25px;
    color:#0065fc;
    background-color: #c4c4f9;
    justify-content: center;
    align-items: center;
}

.animaux a {
    display: flex;
    width: 42px;
    height:42px;
    text-decoration: none; 
    border-radius: 25px;
    color:#0065fc;
    background-color: #c4c4f9;
    justify-content: center;
    align-items: center;
}

.filtres a:hover {
    color: white;
    background-color:#0065fc;
}

.infologement {
    display: flex;
    flex-direction: row;
}

.iconinfo {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dacbcb ;
    margin:5px 15px 0px 0px;
}

.iconinfo a { 
    color:#0065fc ;
} 

.iconinfo a:hover { 
    color:red ;
}

/* Section Hebergements Joaquim */

#hebergements {
    width: 90%;
    height: 550px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#hebergements-marseille a {
    text-decoration: none;
    color: black;
}

#hebergements h1 {
    width: 85%;
    font-size: 22px;
}

#hebergement-pluspopulaire-title h2 {
    font-size: 22px;
}

.hebergements-cartes-info h2 {
    font-size: 15px;
}

.hebergements-pluspopulaires-info h2 {
    font-size: 15px;
    margin: 0px;
}

.hebergements-cartes p {
    font-size: 13px;
    margin: 0px;
}

#hebergements-marseille {
    width: 63%;
    height: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#hebergements-options {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cartes {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 grey;
}

.hebergements-cartes img {
    width: 95%;
    height: 50%;
    align-self: center;
    object-fit: cover;
    padding-top: 5px;
    border-radius: 16px 16px 0 0;
}

.hebergements-cartes-info {
    width: 90%;
    height: 45%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergements-classification i {
    color: #0065FC;
    font-size: 14px;
}

.hebergements-classification .etoile-grise {
    color: whitesmoke;
}

#hebergements-pluspopulaire {
    width: 35%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hebergement-pluspopulaire-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergements-pluspopulaires-options {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hebergements-pluspopulaires-cartes {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 grey;
}

.hebergements-pluspopulaires-cartes img {
    width: 45%;
    height: 95%;
    object-fit: cover;
    align-self: center;
    border-radius: 16px 0 0 16px;
}

.hebergements-pluspopulaires-info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergements-pluspopulaires-info p {
    margin-top: 0px;
}

#hebergements-afficherplus {
    width: 85%;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* Section Activités Thomas */

.act_titre {
    width: 100%;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    margin-left: 2%;
}

#activites {
    display : flex;
    flex-wrap: wrap;
    width : 90%;
    justify-content: space-evenly;
    align-self: center;
}

#activites p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.div_activites {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 400px;
}

.activites_droite {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigcard {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 16px;
    height: 100%;
    box-shadow: 0 2px 2px 0 grey;
}

#big_card {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 16px;
    height: 100%;
    box-shadow: 0 2px 2px 0 grey;
}

.activites_gimg {
    object-fit: cover;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.littlecard {
    display: flex;
    flex-direction: column;;
    height: 40%;
    width: 85%;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 grey;
    justify-content: flex-end;
    align-self: center;
}

.littlecard2 {
    display: flex;
    flex-direction: column;;
    height: 50%;
    width: 85%;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 grey;
    justify-content: flex-end;
    align-self: center;
}

.activites_limg {
    object-fit: cover;
    height: 75%;
    border-radius: 20px 20px 0 0;
}

.little-card-modif {
    width: 90%;
}

/* Section Footer */

footer {
    width: 100%;
    height: 180px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: black;
    height: 30px;
}

.footer-boxs {
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
}

/*Tablette*/

@media screen and (min-width: 768px) and (max-width: 991px) {

/* Section Header Tablette Zahia */

    main {
        width: 100%;
        margin: 0;
    }

    header{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        width: 90%;
        font-family: 'Raleway', sans-serif;
        align-items: flex-start;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: center;
    }

    .logo {
        align-self: flex-end;
    }

    .logo img {
        width: 150px;
        height: 80px;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .menu a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding:30px;
    }

    .menu a:hover {
        color:#0065fc;
        border-top:3px solid #0065fc;
    }

    .info {
        font-size: 15px;
        margin-bottom: 10px;
        width: 100%;
    }

    .recherche {
        position: relative;
        width: 400px;
        height: 50px;
        border: 1px solid #dacbcb;
        border-radius: 10px;
        background-color: #dacbcb;
    }

    .location {
        font-size:20px;
        width: 8%;
        height: 35px; 
        float: left;
        padding: 15px;
    }

    input[ type="search"]{
        font-weight: bold;
        width: 55%;
        height: 50px;;
        font-size: 15px;
        border: none;
    }

    .iconr {
        display: none;
    }

    button {
        position: absolute;
        width:30%;
        height:100%;
        font-size: 15px;
        color: white;
        border: none;
        float: right;
        background-color:#0065fc;
        padding: 10px;
        border-radius: 0px 10px 10px 0px;
    }

    .filtres {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 100%;
        height: 80px;
        align-items: center;
    }

    .filtres p {
        padding:5px;
        font-weight: bold;
    }

    .iconfiltre {
        display: flex;
        flex-direction: row;
        height: 100px;
    }

    .icon2 {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
    }

    .icon1 {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
    }

    .economique,.familial,.romantique {
        display: flex;
        align-items: center;
        width: 45%;
        height: 38px;
        border-radius: 30px;
        margin-left: 15px;
        border: 2px solid #dacbcb;
    }

    .animaux {
        display: flex;
        align-items: center;
        width: 70%;
        height: 38px;
        margin-left: 15px;
        border-radius: 30px;
        border: 2px solid #dacbcb;
    }

    .economique a,.familial a,.romantique a {
        display: flex;
        width: 42px;
        height:42px;
        text-decoration: none; 
        border-radius: 25px;
        color:#0065fc;
        background-color: #c4c4f9;
        justify-content: center;
        align-items: center;
    }

    .animaux a {
        display: flex;
        width: 42px;
        height:42px;
        text-decoration: none; 
        border-radius: 25px;
        color:#0065fc;
        background-color: #c4c4f9;
        justify-content: center;
        align-items: center;
    }

    .filtres a:hover {
        color: white;
        background-color:#0065fc;
    }

    .infologement {
        display: flex;
        flex-direction: row;
    }

    .iconinfo {
        width: 30px;
        height: 30px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dacbcb ;
        margin:5px 15px 0px 0px;
    }

    .iconinfo a{ 
        color:#0065fc;
    }

    .iconinfo a:hover{ 
        color:red ;
    }
    
    /* Section Hebergements Tablette Joaquim */

    #hebergements {
        flex-direction: column-reverse;
        height: 1200px;
    }

    #hebergements h1 {
        font-size: 24px;
    }

    #hebergement-pluspopulaire-title h2 {
        font-size: 24px;
    }

    #hebergements-pluspopulaire {
        width: 100%;
        height: 50%;
    }

    #hebergements-pluspopulaires-options {
        height: 85%;
        align-content: space-around;
    }

    .hebergements-pluspopulaires-cartes {
        height: 30%;
    }

    .hebergements-pluspopulaires-info h2 {
        font-size: 22px;
    }

    .hebergements-pluspopulaires-info p {
        margin-top: 0px;
        font-size: 18px;
    }

    #hebergements-marseille {
        width: 100%;
        height: 50%;
        background-color: white;
    }

    #hebergements-options {
        width: 100%;
    }

    .hebergements-cartes {
        width: 45%;
        height: 150px;
    }

    .hebergements-cartes-info {
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }

    .hebergements-cartes-info h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }

    .hebergements-cartes-info p {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #hebergements-marseille h3 {
        margin-top: 0px;
    }

    /* Section Activités Tablette Thomas */

    .act_titre{
        width: 90%;
        font-size: 34px;
        margin-left: 7%;
    }

    #activites {
        flex-direction : column;
        height: 900px;
        align-items: center;
        justify-content: flex-start;
    }

    #activites p {
        font-size: 22px;
    }

    .div_activites {
        flex-direction: column;
        justify-content: flex-start;
        height: 400px;
        width: 90%;
        align-items: center;
    }

    .bigcard p {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    #big_card p {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .littlecard2 p {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .littlecard p {
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .activites_droite {
        margin-top: 2%;
        justify-content: space-between;
        width: 100%;
        height: 45%;
        flex-direction: row;
    }

    .bigcard {
        width: 100%;
        height: 50%;
    }

    .activites_gimg {
        height: 80%;
    }

    .littlecard {
        width: 47%;
        height: 80%;
    }

    .littlecard2 {
        width: 47%;
        height: 80%;
    }

    .activites_limg {
        height: 80%
    }

    #big_card {
        width: 100%;
        height: 50%;
        margin-top: 20px;
        margin-bottom: 3%;
    }

    /* Section Footer Tablette Joaquim */

    footer {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 16px;
    }

    footer h3 {
        font-size: 18px;
    }

    .footer-boxs {
        width: 30%;
    }
}

/* Mobile */

@media screen and (max-width: 767px){

    /* Section Header Mobile Zahia */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    header {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        align-items: center;
    }

    nav{
        display: flex;
        flex-direction:column;
        align-self: center;
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content:center;
        height: 100px;
        align-items: flex-end;
    }

    .logo img {
        width: 150px;
        height: 80px;
    }

    .menu {
        display: flex;
        align-items:flex-start;
        justify-content:center;
        justify-content: space-evenly; 
    }

    .menu a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        border-bottom:3px solid #dacbcb;
        margin-left: 0px;
        width: 50%;
        align-self: center;
        padding: 15px;
        display: flex;
        justify-content: center;
    }

    .menu a:hover {
        color:#0065fc;
        border-bottom:3px solid #0065fc;
        padding-left: 0px;
        border-top: 0px;
    }

    .info {
        width: 90%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .recherche {
        position: relative;
        width: 85%;
        height: 50px;
        border: 1px solid #dacbcb;
        border-radius: 10px;
        background-color: #0065fc;
        margin-bottom: 10px;
    }

    .location {
        font-size:20px;
        width: 8%;
        height:90%;
        float: left;
        padding: 15px;
        background-color: #dacbcb;
        border-radius: 7px 0px 0px 10px;
    }

    input[ type="search"] {
        font-weight: bold;
        width: 65%;
        height: 50px;;
        font-size: 15px;
        border: none;
    }

    .iconr {
        display: flex;
        color: white;
        float: right;
        padding: 17px 15px 0 0;
    }

    button {
        display:none;
    }

    .filtres{
        display: flex;
        flex-direction:column;
        margin-top: 0px;
        width: 90%;
    }

    .iconfiltre{
        display: flex;
        flex-direction: column;
    }

    .icon2{
        display: flex;
        flex-direction:column;
        margin-top: 10px;
    }

    .icon1{
        display: flex;
        flex-direction:row;
    }

    .economique{
        margin-right: 20px;
    }

    .filtres p{
        padding:5px;
        font-weight: bold;
    }

    .economique,.familial,.romantique{
        display: flex;
        align-items: center;
        width: 145px;
        height: 38px;
        border-radius: 30px;
        border: 2px solid #dacbcb;
        margin-left: 0px;
    }

    .animaux{
        display: flex;
        align-items: center;
        width: 200px;
        height: 38px;
        margin-top: 10px;
        border-radius: 30px;
        border: 2px solid #dacbcb;
        margin-left: 0px;
    }

    .economique a,.familial a,.romantique a{
        display: flex;
        width: 42px;
        height:42px;
        text-decoration: none; 
        border-radius: 25px;
        color:#0065fc;
        background-color: #c4c4f9;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .animaux a{
        display: flex;
        width: 42px;
        height:42px;
        text-decoration: none; 
        border-radius: 25px;
        color:#0065fc;
        background-color: #c4c4f9;
        justify-content: center;
        align-items: center;
    }

    .filtres a:hover{
        color: white;
        background-color:#0065fc;
    }

    .infologement{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        width: 90%;
    }

    .iconinfo{
        width: 25px;
        height: 25px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dacbcb ;
        margin:10px 15px 0px 0px;
    }

    .iconinfo a{ 
        color:#0065fc ;
    }

    .iconinfo a:hover{ 
        color:red ;
    }
    
    /* Section Hebergements Mobile Joaquim */

<<<<<<< HEAD
#hebergements-pluspopulaire {
    width: 25%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hebergement-pluspopulaire-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergements-pluspopulaires-options {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hebergements-pluspopulaires-cartes {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 grey;
}

.hebergements-pluspopulaires-cartes img {
    width: 45%;
    height: 95%;
    object-fit: cover;
    align-self: center;
    border-radius: 16px 0 0 16px;
}

.hebergements-pluspopulaires-info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hebergements-pluspopulaires-info p {
    margin-top: 0px;
}

#hebergements-afficherplus {
    width: 85%;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* Tablette */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .hebergements {
        flex-direction: column-reverse;
        height: 1200px;
    }

    .hebergements h1 {
        font-size: 24px;
    }

    #hebergements-pluspopulaire {
        width: 100%;
        height: 50%;
    }

    #hebergements-pluspopulaires-options {
        height: 85%;
        align-content: space-around;
    }

    .hebergements-pluspopulaires-cartes {
        height: 30%;
    }

    .hebergements-pluspopulaires-info h2 {
        font-size: 20px;
    }

    .hebergements-pluspopulaires-info p {
        margin-top: 0px;
        font-size: 18px;
    }

    #hebergements-marseille {
        width: 100%;
        height: 50%;
        background-color: white;
    }

    .hebergements-cartes {
        width: 45%;
        height: 150px;
    }

    .hebergements-cartes-info {
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }

    .hebergements-cartes-info h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    .hebergements-cartes-info p {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #hebergements-marseille h3 {
        margin-top: 0px;
    }
}

/* Mobile */

@media screen and (max-width: 767px) {
    .hebergements {
=======
    #hebergements {
>>>>>>> Correction Rebase Hebergements and Main
        flex-direction: column-reverse;
        height: 1800px;
    }

    #hebergements-pluspopulaire {
        width: 100%;
        height: 30%;
    }

    #hebergements-pluspopulaires-options {
        height: 85%;
        align-content: space-around;
    }

    .hebergements-pluspopulaires-cartes {
        height: 30%;
    }

    #hebergement-pluspopulaire-title h2 {
        font-size: 26px;
    }

    .hebergements-pluspopulaires-info h2 {
        font-size: 18px;
    }

    .hebergements-pluspopulaires-info p {
        margin-top: 0px;
        font-size: 16px;
    }

    #hebergements-marseille {
        width: 100%;
        height: 70%;
        background-color: white;
    }

    .hebergements-cartes {
        width: 100%;
        height: 180px;
    }

    .hebergements-cartes-info {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
    }

    .hebergements-cartes-info h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    .hebergements-cartes-info p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .hebergements-cartes img {
         width: 100%;
         height: 50%;
    }

    .hebergements-cartes-info {
        height: 45%;
    }

    .hebergements-classification i {
        font-size: 14px;
    }

    #hebergements h1 {
        font-size: 26px;
    }

    

    #hebergements-marseille h3 {
        margin-top: 0px;
    }

    /* Section Activités Mobile Thomas */

    .act_titre {
        font-size: 28px;
        width: 80%;
    }

    #activites {
        flex-direction : column;
        height: 1600px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    #activites p {
        font-size: 22px;
    }

    .div_activites {
        flex-direction: column;
        justify-content: flex-start;
        height: 750px;
        width: 90%;
        align-items: center;
        margin-bottom: 10px;
    }

    .activites_droite {
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 500px;
    }

    .littlecard {
        width: 100%;
        height: 200px;
    }

    .littlecard2 {
        width: 100%;
        height: 200px;
    }

    .bigcard {
        width: 90%;
        height: 200px;
    }

    #big_card {
        width: 90%;
        height: 200px;
    }

    .activites_gimg {
        height: 70%;
    }

    /* Section Footer Mobile */

    footer {
        height: 500px;
        flex-direction: column;
    }

    footer a {
        height: auto;
        margin: 5px 0 5px 0;
    }

    .footer-boxs {
        width: 90%;
        height: 180px;
        align-self: center;
        font-size: 16px;
    }
}